/*背景*/
body {
  background-image: linear-gradient(to bottom, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}
nav{
  position: fixed;
  z-index: 1;
  transition: 0.1s;
  box-sizing: border-box;
  font-family: Microsoft Yahei;
}
nav.Menu_scoll{
  /* Menu的深淺度 */
  background: rgba(0,0,0,0.7);
}
nav ul{ /* 取消ul預設的內縮及樣式 */
  margin-top: 2vh;
  margin-left: 5vw; 
  list-style: none;
}
nav ul.drop-down-menu {
  /*Menu外邊框*/
  border: #ccc 0px solid;
  display: line-block;
  font-family: Microsoft Yahei;
  font-size: 1.5rem;
}
nav ul.drop-down-menu .btn{
  /*Menu按鈕*/
  font-size: 1.5rem;
}
nav ul.drop-down-menu li {
float: left; /* 只有第一層是靠左對齊*/
}
nav ul.drop-down-menu a {
  /* Menu本身空格*/
  font-weight:bold;
  background-color:transparent ;
  color: white; 
  display: block;
  padding: 1vh 5vw;
  text-decoration: none;
  line-height: 40px;
}
nav ul.drop-down-menu a:hover { /* Menu滑鼠滑入按鈕變色*/ 
  background-color:#4169E1;
  color:#fff;
}
nav .dropdown-menu { /* 下拉表單滑入按鈕變色*/ 
  background-color:#483D8B;
  color:#fff;
  font-size: 1.5rem;
}
#menubackground{
  padding: 9vh;
  background: rgba(0,0,0,0.7);
  background-size: cover;
}
#intro .jumbotron{
  background:-webkit-linear-gradient(left,#ffffff, rgba(51,51,51,0.1)),url(https://img.onl/IwjsIM)  25% 40% ;
  height:60vh;
  margin-bottom: 0;
  border-top: solid 2px #cfd9df;/*<!--jumbotron上方間隔線-->*/
}
/*<!--標題屬性-->*/
#intro h1{
  font-size: 100px;
  line-height: 2.5;
}
/*<!--按鈕屬性-->*/
#intro .btn{
  background-color: F05F5C;
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius:18px;
}
/*目錄需要的空格*/
#intro .container{
  position: relative;;
  top:50%;
  -webkit-transform: translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
}
#intro .lead{
  font-size: 26px;
}
#latest{
  padding: 80px 0px;
  border-top: solid 2px #cfd9df;
  background-image: linear-gradient(to top, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
#latest h2{
  margin-bottom: 80px;
}

#latest .upper{ /*物件圖片裡面的字*/
  position: relative;
}
#latest .innertext{/*物件圖片裡面的字*/
    position: absolute;
    left: 15px;
    bottom: 0px;
    color: white;
}
#latest .outer{/*物件邊框*/
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
  background: white;
}
#latest .lower{/*物件邊框與字的距離*/
  padding: 3px 10px 10px 10px;
}
#latest a{
  color: black;
}
#latest a:hover{
  text-decoration: none;
}

#latest .innertext span{/*物件圖片中連結*/
  padding: 6px 15px;
  border-radius:15px;
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}
#latest .innertext h4{
  margin-bottom: 12px;
  margin-top: 10px;
  font-size: 22px;
}
/*物件名稱*/
#latest .lower h3{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}
/*物件介紹*/
#latest .lower i{
  margin-right: 8px;
}
#latest .content{
  line-height: 2.5;
}
#latest .carousel-indicators{/*輪播下排按鈕*/
  bottom: 30px;
}
#latest img{
  max-width: 100%;
  margin-top:10%;
}
#latest .carousel-inner{
  height: 400px;
}
#latest .pagination{ /*換頁按鈕*/
  padding: 5vh 20vw;
  margin:auto;
}
#latest .carousel-control-next, .carousel-control-prev{/*換頁按鈕上下層順序*/
  z-index: 0;
}
#latest .carousel-indicators{/*Carousel頁數順序*/
  z-index: 0;
}
img{
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6,ul,li,a{
  font-family: 'Noto Sans TC';
}
p,input,label,textarea,span{
  font-family: 'Noto Serif TC';
}
footer {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border-top: solid 2px #cfd9df;/*<!--footer上方間隔線-->*/
  padding: 20px 0px;
}
footer .content{
  margin-bottom: 5px;
}
footer li{
  width: 50%;
  float: left;
  display: block;
  line-height: 2;
  margin-top: 10px;
}
footer .footerIMG{
  padding-bottom: 5px;
  width: 60%;
  height: auto;
}
footer .CopyRight{
  text-align: center;
  color: #7f7f80;
  font-size: 12px;
  margin-bottom: 0px;
}